[push]
	config = default
	default = current
[user]
	name = samm81
	email = samwmaynard@gmail.com
[core]
	pager = delta
	excludesfile = /home/maynard/.gitignore
[fetch]
	prune = true
[color]
	ui = true
[diff]
	wsErrorHighlight = all
[commit]
  verbose = true
[interactive]
  diffFilter = delta --color-only
[delta]
	side-by-side = true
	hunk-header-decoration-style = none
