[submodule "shellrc"]
	path = shellrc
	url = https://github.com/samm81/shellrc
[submodule "agents/caveman"]
	path = agents/caveman
	url = git@github.com:JuliusBrussee/caveman.git
[submodule "agents/humanizer"]
	path = agents/humanizer
	url = https://github.com/blader/humanizer.git
[submodule "agents/skills"]
	path = agents/skills
	url = git@github.com:trailofbits/skills.git
[submodule "agents/agent-skill"]
	path = agents/agent-skill
	url = git@github.com:ast-grep/agent-skill.git
[submodule "agents/agent-config"]
	path = agents/agent-config
	url = git@github.com:brianlovin/agent-config.git
