snippet credo:disable-for-this-file
	# credo:disable-for-this-file ${1:Credo.Check.Warning.IoInspect}

snippet credo:disable-for-next-line
	# credo:disable-for-next-line ${1:Credo.Check.Warning.IoInspect}

snippet credo:disable-for-previous-line
	# credo:disable-for-previous-line ${1:Credo.Check.Warning.IoInspect}

snippet credo:disable-for-lines
	# credo:disable-for-lines:<${1:count}> ${2:Credo.Check.Warning.IoInspect}
