root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# prefer blank lines between paragraphs over markdown hard-break trailing spaces
[*.md]
trim_trailing_whitespace = true

[*.{sh,bash}]
indent_style = space
indent_size = 2
binary_next_line = true
switch_case_indent = true
space_redirects = true
